[CRAWLER_INPUTS]
SITE_INFO_FILE_PATH=D:\analytics_news\output\InputSites.csv
KEYWORD_FILE_PATH=D:\analytics_news\output\Keyword.csv
OUTPUT_DIR_PATH=D:\\analytics_news\\output\\
SITE_PICKLE_DUMP_FILE=D:\analytics_news\output\SiteTimestampInfo.p

[LOGGING_INPUTS]
LEVEL_NAME=info
LOG_DIR_PATH=D:\analytics_news\output

[ANALYSIS_ENGINE_INPUTS]
TRAINING_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\inforsub.xlsx
LABEL_COL_NAME_RISK_CLASSIFIER=Risky
TEXT_FIELDS_RISK_CLASSIFIER=Title
RISK_CLASSIFIER_MODEL_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\RiskClassifierModel.p
TEXT_FIELDS_TOPIC_CLASSIFIER=Title
LABEL_COL_NAME_TOPIC_CLASSIFIER=rt
TOPIC_CLASSIFIER_MODEL_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\TopicClassifierModel.p
LABEL_COL_NAME_SUB_TOPIC_CLASSIFIER=rst
SUB_TOPIC_ONE_CLASSIFIER_MODEL_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\SubTopicOneClassifierModel.p
SUB_TOPIC_TWO_CLASSIFIER_MODEL_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\SubTopicTwoClassifierModel.p
SUB_TOPIC_THREE_CLASSIFIER_MODEL_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\SubTopicThreeClassifierModel.p
SUB_TOPIC_FOUR_CLASSIFIER_MODEL_FILE_PATH=C:\Users\Jyoti.Gupta\Documents\crawler\SubTopicFourClassifierModel.p
IS_PARAM_TUNE=False
IS_REMOVE_SKEWNESS=False
RISK_CLASSIFIER_RATIO_REMOVE_SKEWNESS=1